.jumbotron {
    text-align: center;
    background-image: url("../Images/city_train.gif");
    color: whitesmoke;
    background-color: #666;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 400px;
}

h1, h3 {
    outline-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


 